{% extends 'base.html' %}
{% block title %}{{data['title']}}{% endblock %}
{% block content %}
<section id='assignment-details'>
	<div class='container'>
		<div class='row' style='padding-left: 20px; padding-right: 20px;'>
			<div class='card' style='width: 1500px; height: auto; background: white;' onmouseover='this.style.background="white"' onmouseout='this.style.background="white"'>
				<div style='text-align: left; color: #171a1d;'>
					<h2><a href='https://{{current_user.domain}}/courses/{{course_id}}/discussion_topics/{{data["id"]}}' target='_blank' style='color: #171a1d;'>{{data['title']}}<a></h2>
					<h5><b>Date: </b>{{data['posted_at']}}</h5>
					<h5><b>Author: </b>{{data['author']['display_name']}}</h5>
					<p>{{data['message']}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
