{% extends 'base.html' %}
{% block title %}To do list{% endblock %}
{% block content %}
<section id='announcements'>
	<div class='container'>
		<div class='row' style='padding-left: 20px; padding-right: 20px;'>
			{% for item in data %}
			<div class='card' style='width: 1500px; height: auto;'>
				<a href='{{item["html_url"]}}' target='_blank' style='text-decoration: none;'>
					<div style='text-align: left; color: #171a1d;'>
						<h2>{{item['name']}}</h2>
						<h5><b>Due: </b>{{item['due_at']}}</h5>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
